APP_HOST=127.0.0.1
APP_PORT=8000
DATA_DIR=./data
NMAP_BIN=nmap
NIKTO_BIN=nikto
ZAP_BIN=/usr/share/zaproxy/zap.sh
TESTSSL_BIN=./resources/testssl.sh/testssl.sh
ZAP_PORT=8090
SCAN_TIMEOUT_SECONDS=900
API_KEY=
